<h1>Charlotte's Notes</h1>

<p>This is a collection of my Web Development notes so I can access it from anywhere with an internet connection.</p>

<p>These notes contain my work, and some text copied from software documentation.</p>


<!-- <div class="w"> -->
<!--   <div> -->
<!--     <div style="color:#d9cec1;">Container</div> -->
<!--     <div class="wrapper pink"  style="display:block;"> -->
<!--       <div >1</div> -->
<!--       <div >2</div> -->
<!--       <div >3</div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- <div class="w" style="gap: 1.5em;align-items:center;"> -->
<!--   <div> -->
<!--     <div style="color:#d9cec1;">Container</div> -->
<!--     <div class="gridwrapper"> -->
<!--       <div style="color: #86C6FD">Area</div> -->
<!--       <div></div> -->
<!--       <div>Cell</div> -->
<!--       <div></div> -->
<!--       <div></div> -->
<!--       <div></div> -->
<!--       <div></div> -->
<!--       <div style="color:#FF85B1 ">Track</div> -->
<!--       <div></div> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div style="width: 680px;display: flex;flex-flow: column;gap:1em;padding-top:2em;"> -->
<!--     <div><strong><span style="color:#BE9FD1;">Grid lines</span>: dividing lines that make up the structure of the grid.</strong><br/> They can be vertical (column line) or horizontal (row lines). <br/> Index start at 1, and relate to the writing mode of the document.<br/> -->
<!--       -\-> row line 2 and column line 3.</div> -->
<!--     <div><strong><span style="color:#FF85B1;font-weight:700">Grid track</span>: space between two adjacent grid lines, a row or a column.</strong> <br/> -->
<!--       -\-> grid track between row line 3 and 4.</div> -->
<!--     <div><strong><span style="color: #86C6FD;font-weight:700">Grid area</span>: space between four gridlines.</strong><br/> -->
<!--       -\-> grid area between row line 1 and 3, and column line 1 and 3.</div> -->
<!--   </div> -->
<!-- </div> -->

<!-- <style> -->
<!-- /*   body {gap:0} */ -->
<!-- /*   .content { width: 100vw;} */ -->
<!-- /*   .w { gap: 0.5em 4em; display:flex; flex-flow: row wrap; padding: 1em; */ -->
     
<!-- /*       border: 2px solid #d9cec1; */ -->
<!-- /*       border-radius: 0.25em; */ -->
<!-- /*      } */ -->
  
<!--   /* .gridwrapper, .grid { */ -->
<!--   /*     display: grid; */ -->
<!--   /*     grid-template-columns: repeat(3, 1fr); */ -->

<!--   /*     /\* justify-items: center; *\/ */ -->
<!--   /*     /\* align-items: center; *\/ */ -->
<!--   /*     textr-align: center; */ -->

<!--   /*     width: fit-content; */ -->
<!--   /*     border: 2px solid #d9cec1; */ -->
<!--   /*     border-radius: 0.25em; */ -->
<!--   /*     margin-top: 0.5em; */ -->
<!--   /* } */ -->

<!--   /* .gridwrapper > * { */ -->
<!--   /*      width: 120px; */ -->
<!--   /*      height: 80px; */ -->
<!--   /*      border: 1px dashed #d9cec1; */ -->
<!--   /*      display: flex; */ -->
<!--   /*      justify-content: center; */ -->
<!--   /*      align-items: center; */ -->
<!--   /* } */ -->

<!--   /* .gridwrapper > div:nth-child(1), */ -->
<!--   /* .gridwrapper > div:nth-child(2), */ -->
<!--   /* .gridwrapper > div:nth-child(3) { */ -->
<!--   /*     border-bottom: 1px solid #BE9FD1; */ -->
<!--   /* } */ -->
<!--   /*  .gridwrapper > div:nth-child(4), */ -->
<!--   /* .gridwrapper > div:nth-child(6), */ -->
<!--   /* .gridwrapper > div:nth-child(5) { */ -->
<!--   /*     border-top: 1px solid #BE9FD1; */ -->
<!--   /* } */ -->
<!--   /* .gridwrapper > div:nth-child(2), */ -->
<!--   /* .gridwrapper > div:nth-child(5), */ -->
<!--   /* .gridwrapper > div:nth-child(8) { */ -->
<!--   /*     border-right: 1px solid #BE9FD1; */ -->
<!--   /* } */ -->
<!--   /*  .gridwrapper > div:nth-child(3), */ -->
<!--   /* .gridwrapper > div:nth-child(6), */ -->
<!--   /* .gridwrapper > div:nth-child(9) { */ -->
<!--   /*     border-left: 1px solid #BE9FD1; */ -->
<!--   /* } */ -->
<!--   /* .gridwrapper > div:nth-child(1), */ -->
<!--   /* .gridwrapper > div:nth-child(2), */ -->
<!--   /* .gridwrapper > div:nth-child(5), */ -->
<!--   /* .gridwrapper > div:nth-child(4) { */ -->
<!--   /*     background-color: #BDE0FE66; */ -->
<!--   /* } */ -->
  
<!--   /* .gridwrapper > div:nth-child(7), */ -->
<!--   /* .gridwrapper > div:nth-child(8), */ -->
<!--   /* .gridwrapper > div:nth-child(9) */ -->
<!--   /* { */ -->
<!--   /*     background-color: #FFC8DD38; */ -->
<!--   /* } */ -->
  
  
<!--   /* .wrapper { */ -->
<!--   /*     padding: 0.5em; */ -->
<!--   /*     border: 2px solid #d9cec1; */ -->
<!--   /*     border-radius: 0.25em; */ -->
<!--   /*     margin-top: 0.5em; */ -->
<!--   /*     max-width: 420px; */ -->
<!--   /*     display: flex; */ -->
<!--   /* } */ -->

<!--   /* .wrapper  > * { */ -->
<!--   /*     width: 70px; */ -->
<!--   /*     height: 40px; */ -->
<!--   /*     border-radius: 0.5em; */ -->
<!--   /*     margin: 0.5em; */ -->
<!--   /*     display: flex; */ -->
<!--   /*     justify-content: center; */ -->
<!--   /*     align-items: center; */ -->
<!--   /* } */ -->


<!--   /* .blue > * { */ -->
<!--   /*     background-color: #A2D2FF; */ -->
<!--   /* } */ -->

<!--   /* .pink > * { */ -->
<!--   /*     background-color: #FFAFCC; */ -->
<!--   /* } */ -->

<!--   /* .purple > * { */ -->
<!--   /*     background-color: #CDB4DB; */ -->
<!--   /* } */ -->

<!--   /* .grid > * { */ -->
<!--   /*     padding: 1em; */ -->
<!--   /*     border: 1px dashed #d9cec1; */ -->
<!--   /*     display: flex; */ -->
<!--   /*     justify-content: center; */ -->
<!--   /*     align-items: center; */ -->
<!--   /* } */ -->

<!--   /* .lol { */ -->
<!--   /* width: 420px; */ -->
<!--   /* display: grid; */ -->
<!--   /* grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); */ -->
<!--   /* grid-auto-rows: minmax(100px, auto); */ -->
<!--   /* gap: 20px; */ -->
<!--   /* } */ -->
<!-- </style> -->


<!-- <div class="w"> -->
<!--   <div> -->
<!--     <div class="grid lol"> -->
<!--       <div>1</div> -->
<!--       <div>2</div> -->
<!--       <div>3</div> -->
<!--       <div>4</div> -->
<!--       <div>5</div> -->
<!--       <div>6</div> -->
<!--     </div> -->
<!--   </div> -->


  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
  <!-- <style> -->
  <!--   .material-symbols-outlined.uf { -->
  <!--   font-variation-settings: -->
  <!-- 	'FILL' 1, -->
  <!-- 	'wght' 400, -->
  <!-- 	'GRAD' 0, -->
  <!-- 	'opsz' 24 -->
  <!--   } -->

  <!--   .material-symbols-outlined { -->
  <!-- 	font-variation-settings: -->
  <!-- 	    'FILL' 0, -->
  <!-- 	    'wght' 400, -->
  <!-- 	    'GRAD' 0, -->
  <!-- 	    'opsz' 24 -->
  <!--   } -->

  <!--   .hihi { -->
  <!-- 	display: grid; -->
  <!-- 	grid-template-rows: 1fr 3fr; -->
  <!-- 	grid-template-columns: 2fr 1fr 3fr; -->
  <!-- 	gap:10px; -->
  <!-- 	width: 68%; -->
  <!-- 	align-items: center; -->
  <!-- 	justify-content: flex-start; -->
  <!-- 	justify-items: center; -->
  <!-- 	background-color: var(--beige); -->
  <!-- 	padding: 2em; -->
  <!-- 	border: 2px solid var(--dark-beige); -->
  <!-- 	border-radius: 0.5em; -->
  <!--   } -->

  <!--   .continer { -->
  <!-- 	height: 175px; -->
  <!-- 	display: grid; -->
  <!-- 	grid-template-columns: subgrid; -->
  <!-- 	grid-template-rows: 1fr 3fr 3fr 3fr; -->
  <!-- 	background-color: #d9cec1; -->
  <!-- 	padding: 1.5em; -->
  <!-- 	border-radius: 0.5em; -->
  <!-- 	align-items: center; -->
  <!-- 	grid-column: 2/4; -->
  <!--   } -->

  <!--   .ick { -->
  <!-- 	grid-column: 1/2; -->
  <!-- 	grid-row: 1/2; -->
  <!-- 	font-size: 1.5em; -->
  <!-- 	font-weight: 900; -->
  <!--   } -->

  <!--   .bruh { -->
  <!-- 	height: 160px; -->
  <!-- 	width: auto; -->
  <!-- 	grid-column: 1/2; -->
  <!-- 	grid-row: 2/4; -->
  <!--   } -->

  <!--   .euh { -->
  <!-- 	grid-row: 2/3; -->
  <!--   } -->

  <!--   .picture { -->
  <!-- 	border-radius: 50%; -->
  <!-- 	width: 100px; -->
  <!-- 	height: 100px; -->
  <!-- 	grid-column: 1/2; -->
  <!-- 	grid-row: 1/4; -->
  <!--   } -->

  <!--   .name { -->
  <!-- 	grid-column: 3/4; -->
  <!-- 	grid-row: 1/2; -->
  <!--   } -->
  <!--   .rating { -->
  <!-- 	grid-row: 2/3; -->
  <!-- 	grid-column: 3/4; -->
  <!--   } -->
  <!--   .comment { -->
  <!-- 	grid-column: 2/3; -->
  <!-- 	grid-row: 3/4; -->
  <!--   } -->

  <!--   .deu { -->
  <!-- 	grid-row: 3/4; -->
  <!--   } -->
  <!-- </style> -->

  <!-- <div class="hihi"> -->
  <!--   <div class="ick">Candy Tavern</div> -->
  <!--   <img class="bruh" alt="" src="https://external-preview.redd.it/bKPwOanq2r4TOG6f6pqQoHDXyk11zTnXKEpbLATKi_w.jpg?width=640&crop=smart&auto=webp&s=30a6769fdfe03dd0ef6c8e47a6689dc225ffd4c6"/> -->

    
  <!--   <div class="continer euh"> -->
  <!--     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi_A4yCnkSsiQwdtaIBFtJQAhxwC0FWQX4LA&usqp=CAU" alt="lol" class="picture"> -->
  <!--     <div class="name">LSP</div> -->
  <!--     <div class="rating"><span class="material-symbols-outlined uf"> -->
  <!-- 	  kid_star -->
  <!-- 	</span><span class="material-symbols-outlined ">kid_star</span><span class="material-symbols-outlined">kid_star</span><span class="material-symbols-outlined">kid_star</span><span class="material-symbols-outlined">kid_star</span></div> -->
  <!--     <div class="comment">But where's the food?! What kind of castle is this?! It's like a poor peoples' castle! With no lumpin' waffles for my dump truck!! </div> -->
  <!--   </div> -->

  <!--   <div class="continer deu"> -->
  <!--     <img src="https://avatars.mds.yandex.net/i?id=10672aad42cb110ab7e6f0bf33d45d122bd33621-8282002-images-thumbs&n=13" alt="lol" class="picture"> -->
  <!--     <div class="name">Jake the dog</div> -->
  <!--     <div class="rating"><span class="material-symbols-outlined uf"> -->
  <!-- 	  kid_star -->
  <!-- 	</span><span class="material-symbols-outlined uf">kid_star</span><span class="material-symbols-outlined uf">kid_star</span><span class="material-symbols-outlined uf" uf>kid_star</span><span class="material-symbols-outlined uf">kid_star</span></div> -->
  <!--     <div class="comment">This pod makes ice cream outta nothing! It's the goodest thing that's ever happened to me. </div> -->
  <!--   </div> -->
    
    <!-- </div> -->

  <!-- <div class="w" style="width: 60vw; margin-left: 100px;position: relative;"> -->
  <!--   <div> -->
  <!--     <div style="color:#d9cec1;">Normal Flow</div> -->
  <!--     <div style="width: 25vw;padding: 2em 1em;border-radius: 1em;background:#CDB4DB4F"> -->
  <!-- 	<img alt="lsp" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/15016fcc-b0c0-49cc-ba48-e2f179feec14/d50yd0r-4194cd94-5c3f-4164-96db-2ae4d3b5def1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE1MDE2ZmNjLWIwYzAtNDljYy1iYTQ4LWUyZjE3OWZlZWMxNFwvZDUweWQwci00MTk0Y2Q5NC01YzNmLTQxNjQtOTZkYi0yYWU0ZDNiNWRlZjEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0ODerrbKkg36hbjK_gv6NISRlTHbzHwJhT5vo54nHIQ" style="width:230px; height: auto; overflow: hidden; transform: scale(135%);"/> -->
  <!-- 	<p>Oh, name not such mean Trifles.- Had I given him all</p> -->
  <!-- 	<p>My Youth has earn’d from Sin,		       </p> -->
  <!-- 	<p>I had not lost a Thought nor Sigh upon’t.	       </p> -->
  <!-- 	<p>But I have give him my eternal Rest,		       </p> -->
  <!-- 	<p>My whole Repose, my future Joys, my Heart;	       </p> -->
  <!-- 	<p>My Virgin Heart. Moretta! oh ‘tis gone!	       </p> -->
  <!-- 	<p style="color: #BE9FD1;">Angelica, The Rover, Aphra Behn</p> -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <div> -->
  <!--     <div><code>position: absolute; right: 150px; top: 300px;</code></div> -->
  <!--     <div style="width: 25vw;padding: 2em 1em;border-radius: 1em;background:#CDB4DB4F"> -->
  <!-- 	<img alt="lsp" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/15016fcc-b0c0-49cc-ba48-e2f179feec14/d50yd0r-4194cd94-5c3f-4164-96db-2ae4d3b5def1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE1MDE2ZmNjLWIwYzAtNDljYy1iYTQ4LWUyZjE3OWZlZWMxNFwvZDUweWQwci00MTk0Y2Q5NC01YzNmLTQxNjQtOTZkYi0yYWU0ZDNiNWRlZjEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0ODerrbKkg36hbjK_gv6NISRlTHbzHwJhT5vo54nHIQ" style="width:230px; height: auto; overflow: hidden; transform: scale(135%);position: absolute;right: 150px; top: 300px; "/> -->
  <!-- 	<p>Oh, name not such mean Trifles.- Had I given him all</p> -->
  <!-- 	<p>My Youth has earn’d from Sin,		       </p> -->
  <!-- 	<p>I had not lost a Thought nor Sigh upon’t.	       </p> -->
  <!-- 	<p>But I have give him my eternal Rest,		       </p> -->
  <!-- 	<p>My whole Repose, my future Joys, my Heart;	       </p> -->
  <!-- 	<p>My Virgin Heart. Moretta! oh ‘tis gone!	       </p> -->
  <!-- 	<p style="color: #BE9FD1;">Angelica, The Rover, Aphra Behn</p> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
</div>