include ./navBar.pug

doctype html
html
  head
    title= title

    // code highlighting
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js")

    script.
      hljs.highlightAll();

    // style
    include ./styles.pug

    // no indexing
    meta(name="robots", content="noindex")

  body
    +navbar(navDirs, navLinks)

    div.content
      | !{content}

  script
    include ./scripts/navFolding.js
    include ./scripts/toc.js

