include ./overlay.pug

doctype html
html
  head
    title= title

    // code highlighting
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js")

    script.
      hljs.highlightAll();

    // style
    include ./styles.pug
    link(rel="stylesheet", type="text/css", href="index.css")

    // no indexing
    meta(name="robots", content="noindex")

  body
    script.
      document.body.classList = localStorage.getItem("theme") || "light";
    +overlay(navbarData)

    div.content
      h1= title

      div.index
        ul.index-list 
          each page in navbarData[title]
            li
              a(href=page.endpoint)= page.title

