:root {
    --light-pink: #FFC8DD;
    --pink: #FFAFCC;
    --lilac: #CDB4DB;
    --light-blue: #BDE0FE;
    --blue: #A2D2FF;
    --brown: #7C606B;
    --black: #28262C;
    --white: #FEF8EC;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: var(--white);
    color: var(--pink);
}
