/* CODE HIGHLIGHTING */
pre {
    font-family: 'Space Mono', sans-serif;
    padding: 1em;
    margin: 1.5em;
    width: fit-content;
    max-width: 100%;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1em !important;
    position: relative;
}

.code-siblings {
    align-items: flex-start;
    padding: 0.5em 0;
    gap: 2em;
}

.code-siblings .container-column {
    align-items: flex-start;
}

.code-siblings .container-column:has(.container-column) {
    gap: 2em;
}

.code-title {
    width: 100%;
    color: var(--bright-lilac);
    background-color: var(--transparent-lilac);
    padding: 0.6em 1.2em;
    border-radius: 1em 1em 0 0;
}

.code-title + pre {
    margin: 0;
    border-radius: 0 0 1em 1em !important;
}


.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: var(--black);
    color: var(--white);
}

.hljs-comment { color: var(--brown) !important; }

.hljs-punctuation { color: var(--white) !important; }

.hljs-string { color: var(--bright-yellow) !important; }

.hljs-built_in,
.hljs-meta,
.hljs-number,
.hljs-attr,
.hljs-symbol,
.hljs-title.class_ { color: var(--bright-blue) !important; }

.hljs-title.function_ { color: var(--bright-green) !important; }

.hljs-keyword,
.hljs-type,
.hljs-operator,
.hljs-tag { color: var(--bright-pink) !important; }

.hljs-literal,
.hljs-name { color: var(--pink) !important; }

.hljs-params { color: var(--lilac) !important; }

.hljs-selector-class,
.hljs-variable, .hljs-variable.language_ { color: var(--bright-lilac) !important; }
