/* DARK THEME */
:root {
    --dark-pink: #C74774;
    --dark-blue: #4674A0;
    --dark-purple: #945985;
    --grey: #48474d;
    --dark-grey: #383640;
}


body.dark {
    background: radial-gradient(circle at top, var(--pink) , var(--blue));
    background-size: cover;
    color: var(--white);
}

body.dark h1 { -webkit-text-fill-color: var(--lilac); color: var(--dark-purple) }

body.dark .index .subject { border-color: var(--dark-grey);}


/* NAVBAR */
body.dark #nav-bar {
    background-color: var(--black);
    color: var(--white);
    scrollbar-color: var(--grey) var(--black);
}

body.dark #nav-bar a { color: var(--white) }

body.dark #nav-bar a:hover, #nav-bar li.active a { color: var(--bright-pink); }

body.dark .nav-btn { background-color: var(--black); }

body.dark .nav-btn:hover,
body.dark #nav-bar .active-folder { background-color: var(--grey); }

body.dark .folder li:not(.folded, .folder-title),
body.dark #nav-bar li.active,
body.dark #nav-bar .folder-title:hover:not(.active-folder) {
    background-color: var(--dark-grey);
}


/* CONTENT */
body.dark .content {
    background-color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

body.dark .content a { color: var(--blue); }

body.dark .index .topic { color: var(--white); }

body.dark .index .topic:hover { color: var(--blue); }

body.dark *:not(pre) > code { background-color: var(--dark-grey); }

body.dark blockquote { background-color: var(--dark-grey);}


body.dark .content > ul::before { background-color: var(--grey); }

body.dark .content li::marker { color: var(--grey); }

body.dark .content li:has(input:checked) { color: var(--grey) }


body.dark table { background-color: var(--grey); }

body.dark th {
    background-color: var(--lilac);
    color: var(--dark-purple);
}

body.dark .content li:has(input) > input[type="checkbox"] {
    color: var(--grey);
    border-color: var(--grey);
}

body.dark tbody tr:hover td { background-color:  var(--dark-grey); }

body.dark tbody tr td:not(:last-child) { border-right: 2px dashed  var(--lilac); }

body.dark thead tr th:not(:last-child) { border-right: 2px dashed var(--dark-purple); }

body.dark tbody tr th { border-top: 2px dashed var(--dark-purple); }

body.dark tbody tr:not(:last-child) td { border-bottom: 2px solid var(--lilac); }


body.dark pre, body.dark .hljs { background-color: var(--grey); }

body.dark table pre, body.dark table .hljs { background-color: var(--dark-grey); }

body.dark .hljs-comment { color: #b7b3c8 !important; }

/* Note */
body.dark .note {
    background: var(--dark-grey);
    color: var(--accent-beige);
}

