/* CODE HIGHLIGHTING */
pre {
    font-family: 'Space Mono', sans-serif;
    padding: 1em;
    margin: 1em;
    width: fit-content;
    max-width: 100%;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1em !important;
    position: relative;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: var(--black);
    color: var(--white);
}

.hljs-comment { color: var(--brown) !important; }

.hljs-punctuation { color: var(--white) !important; }

.hljs-string { color: var(--bright-yellow) !important; }

.hljs-built_in,
.hljs-meta,
.hljs-number,
.hljs-attr,
.hljs-title.class_ { color: var(--bright-blue) !important; }

.hljs-title.function_ { color: var(--bright-green) !important; }

.hljs-keyword,
.hljs-type,
.hljs-operator,
.hljs-tag { color: var(--bright-pink) !important; }

.hljs-literal,
.hljs-name { color: var(--pink) !important; }

.hljs-params { color: var(--lilac) !important; }

.hljs-selector-class,
.hljs-variable.language_ { color: var(--bright-lilac) !important; }
