.navContainer { width: 13vw; }

#navBar {
    width: 13vw;
    min-width: max-content;
    height: 100vh;
    position: fixed;
    background-color: var(--beige);
}

#navBar > * {
    width: inherit;
    min-width: 100px;
    list-style-type: none;
    list-style-position: inside;
}

#navBar .title {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1em;
    padding: 1em;
    
}

#navBar img {
    height: auto;
    width: 5vh;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
}

#navBar h3 {
    margin: 0;
    font-size: 1.4em;
    color: var(--brown);
}

#navBar ul {
    padding: 0;
    margin: 0 0 1em;
}

#navBar li {
    width: 100%;
    padding: 0.5em 1em;
}

#navBar a {
    text-decoration: none;
    padding: 0.5em 0;
    cursor: pointer;
    color: var(--brown);
}

.folder li:not(.folded, .folderTitle) { background-color: #73596312; }

#navBar li.active { background-color: #73596312; }

#navBar li.active a {
    color: var(--bright-pink);
    font-weight: 700;
}

#navBar a:hover { color: var(--bright-pink); }

#navBar .activeFolder { background-color: var(--dark-beige); }

#navBar .folderTitle:hover:not(.activeFolder) { background-color: #73596312; }

#navBar .folderTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

#navBar .folded {
    display: none;
    overflow: hidden;
}
