.navContainer {
    width: 0;
    transition: width .4s ease-in-out;
}

.navBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 3vw;
    height: 3vw;
    margin: 1em;

    border-radius: 50%;
    background: var(--white);
    transition: background .3s ease-in-out;
    cursor: pointer;
}

.navBtn:not(.open), #themeBtn { box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.navBtn:hover, .navBtn.open { background: var(--beige); }

.navBtn.open { margin: 1em; }

#themeBtn { bottom: 1em; }

#navBar {
    position: fixed;
    left: -20vw;
    top: 0;
    transition: left .4s ease-in-out;

    width: 13vw;
    min-width: max-content;
    height: 100vh;

    background-color: var(--beige);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    overflow: scroll;
    padding-bottom: 9vh;
}

#navBar > * {
    width: inherit;
    min-width: 100px;
    list-style-type: none;
    list-style-position: inside;
}

#navBar .title {
    display: block;
    padding: 1em 0 1em 5vw;
    font-size: 1.4em;
    color: var(--brown);
    
}

#navBar ul {
    padding: 0;
    margin: 0 0 1em;
}

#navBar li {
    width: 100%;
    padding: 0.5em 1em;
}

#navBar a {
    text-decoration: none;
    padding: 0.5em 0;
    cursor: pointer;
    color: var(--brown);
}

.folder li:not(.folded, .folderTitle) { background-color: #73596312; }

#navBar li.active { background-color: #73596312; }

#navBar li.active a {
    color: var(--bright-pink);
    font-weight: 700;
}

#navBar a:hover { color: var(--bright-pink); }

#navBar .activeFolder { background-color: var(--dark-beige); }

#navBar .folderTitle:hover:not(.activeFolder) { background-color: #73596312; }

#navBar .folderTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

.navContainer .folded {
    display: none;
    overflow: hidden;
}
