/*************** Pekoe logo ***************/
#pekoe-logo {
  position: absolute;
  left: 4vw;
  z-index: 2;
  width: 10vw;
  max-width: fit-content;
}


/*************** End-of-page beacon ***************/
#peek-oe {
  position: absolute;
  bottom: 0;
  right: 14.8vw;
  z-index: 0;

  transform: scale(-1, 1);
  cursor: pointer;
}

#peek-oe img {
  transform: scale(-1, 1);
}


/*************** Pekoe head logo ***************/
.pekoe-head {
  display: block;
  width: 1.3em;
  height: 1.3em;

  background-image: url("data:image/svg+xml;utf8,<svg width='141' height='127' viewBox='0 0 141 127' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M15.3636 3.26541C9.39023 5.17615 3.51096 19.2124 11.274 41.0158C-5.67306 71.4226 -0.946893 93.5328 13.9918 107.535C39.89 131.811 96.4818 131.719 124.052 108.245C140.582 94.1706 146.68 71.69 129.472 41.0158C135.367 24.0106 132.354 3.22039 125.226 0.960296C120.823 -0.865599 108.955 2.20965 91.0332 23.8652C80.5414 22.1005 71.0713 21.8783 63.6664 22.2659C61.5412 22.3772 59.5861 22.5386 57.8258 22.7283C54.1398 23.1254 51.3078 23.6462 49.5564 24.088C32.9961 7.0894 22.9763 0.515392 15.3636 3.26541Z' fill='%23B1A0A0' stroke='%23B1A0A0' stroke-width='1.03'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}