:root {
    --transparent-blue: #BDE0FE66;
    --transparent-pink: #FFC8DD38;
    --transparent-lilac: #CDB4DB4F;
    --light-pink: #FFC8DD;
    --bright-pink: #FF85B1;
    --pink: #FFAFCC;
    --lilac: #CDB4DB;
    --bright-lilac: #BE9FD1;
    --light-blue: #BDE0FE;
    --blue: #A2D2FF;
    --bright-blue: #86C6FD;
    --green: #C0DB80;
    --bright-green: #B0D260;
    --yellow: #FCF6BD;
    --bright-yellow: #F9EE8A;
    --brown: #735963;
    --black: #28262C;
    --white: #FEF8EC;
    --beige: #efe7dd;
}

/* GENERAL */
* { box-sizing: border-box; }

body {
    min-height: 100vh;
    height: fit-content;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    background-color: var(--beige);
    color: var(--brown);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    gap: 10em;
    background: radial-gradient(circle at top, var(--light-pink) , var(--light-blue));
    background-size: cover;
}

/* HEADERS */
h1 {
    color: var(--bright-lilac);
    font-size: 3.5em;
    font-family: 'Shrikhand', sans-serif;
    -webkit-text-fill-color: var(--lilac);
    -webkit-text-stroke: 3px;
    margin-top: 0;
    line-height: 1em;
}

h2 { color: var(--bright-blue); }

h3 { color: var(--bright-green); }

h4 { color: var(--bright-pink); }

h5 { margin: 1.5em 0 0 0; }

h2, h3 {
    margin: 1.7em 0 0.5em;
    font-size: 1.5em;
    font-weight: 700;
}


/* TABLES */
table {
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 90%;
    background-color: var(--beige);
    border-radius: 0.5em;
    margin: auto;
}

th {
    background-color: var(--transparent-lilac);
    color: var(--bright-lilac);
}

td, th { padding: 0.5em 1em; }

tbody tr td:not(:last-child) { border-right: 2px dashed #73596324; }

tbody tr:not(:last-child) td { border-bottom: 2px solid #73596324; }

tbody tr:last-child td:first-child { border-radius: 0 0 0 0.5em; }

tr th:first-child { border-radius: 0.5em 0 0; }

tr th:last-child { border-radius: 0 0.5em 0 0; }

tbody tr:last-child td:last-child { border-radius: 0 0 0.5em 0; }

tbody tr:hover td { background-color: #73596324; }


/* OTHER */
blockquote {
    background-color: var(--transparent-pink);
    color: var(--bright-pink);
    padding: 0.1em 2em;
    width: 95%;
    border-radius: 0.5em;
    margin: auto;
}

*:not(pre) > code {
    background-color: var(--transparent-blue);
    padding: 0.3em;
    border-radius: 0.5em;
}


/* CONTENT */
.content {
    height: fit-content;
    width: 65vw;
    margin: 1em;
    padding: 5em;
    background-color: var(--white);
    border-radius: 2em;
    line-height: 1.3em;
}

.content > h2 + h3 {
    margin-top: 0;
}

.content a {
    color: #916997;
    text-decoration: none;
    cursor: pointer;
}

.content a:hover { color: var(--bright-lilac); }

.content > ul {
    position: relative;
    margin: 0 0 1.5em 2em;
    line-height: 1.4em;
}

.content > ul::before {
    content: "";
    width: 0.7%;
    height: 100%;
    background-color: var(--beige);
    border-radius: 1em;
    position: absolute;
    right: 100%;
    top: 1%;
}

.content li {
    padding: 0.3em 0;
    max-width: 90%;
    position: relative;
}

.content li::marker {
    color: #cecac4;
}

.content img[alt="center-eg"] {
    display: block;
    margin: auto;
    max-width: 100%;
}

