/*************** Layout ***************/
* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

body {
  position: relative;
  height: fit-content;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  color: var(--brown);
  background-color: var(--beige1);
  background: radial-gradient(circle at top, var(--light-pink), var(--light-blue));
  background-size: cover;

  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-M);
  word-wrap: break-word;
  text-align: justify;
}

.page {
  height: fit-content;
  width: 60vw;

  padding: 4em 6em;
  margin: 2.5em auto;

  background-color: var(--white);
  border-radius: var(--border-radius-M);
  box-shadow: var(--soft-shadow-L);

  position: relative;
  z-index: 2;
}


/*************** Headers ***************/
:is(h2, h3, h4, h5, h6) {
  margin: 1em 0 0.2em;
}

:is(h2, h3, h4, h5, h6)+ :is(h2, h3, h4, h5, h6) {
  margin-top: 0;
  margin-top: 0;
}

h1 {
  width: fit-content;
  margin: 0 auto 0.5em;

  font-size: var(--font-XXL);
  font-family: 'Shrikhand', sans-serif;
  text-align: center;
  line-height: 1em;

  color: var(--lilac);
  -webkit-text-fill-color: var(--light-lilac);
  -webkit-text-stroke: 3px;
}

h2 {
  color: var(--pink);
  font-size: var(--font-L);
}

h3 {
  color: var(--lilac);
  font-size: var(--font-M);
}

h4 {
  color: var(--blue);
  font-size: var(--font-S);
}

h5 {
  color: var(--green);
  font-size: var(--font-S);
  margin-left: 3em;
}

h5::before {
  color: var(--green);
  font-size: var(--font-S);
  content: ">";
  margin-right: 0.6em;
}

/*************** Text ***************/
p {
  text-align: justify;
  text-justify: inter-word;

  margin: 3vh 0;
}

:is(h2, h3, h4, h5, h6)+p {
  margin-top: 0;
}


/*************** Links ***************/
a {
  color: var(--bright-blue);
  text-decoration: none;
  cursor: pointer;

  width: fit-content;

  display: inline-block;
  position: relative;
}

a:hover::after {
  content: "";
  height: 2.5px;
  min-height: 2.5px;
  max-height: 2.5px;
  width: 100%;

  background-color: var(--blue);
  border-radius: var(--border-radius-S);

  display: block;
  position: absolute;
  bottom: -2.5px;
}

/*************** Tooltips ***************/
.tooltip-text {
  display: none;
  width: max-content;
  max-width: 100%;

  position: absolute;
  top: 75%;
  right: 0%;
  z-index: 10000;

  color: var(--white);
  background-color: var(--beige3);
  font-size: var(--font-XS);
  text-align: center;

  border-radius: var(--border-radius-M);
  padding: 0.5em 0.7em;
}

.tooltip:hover+.tooltip-text {
  display: block;
}


/*************** Images ***************/
img {
  display: block;
  max-width: 100%;
  border-radius: var(--border-radius-S);
}

img[alt*="center"] {
  margin: 0 auto;
}

img[alt*="inline"] {
  display: inline;
}

img[alt*="float-left"] {
  float: left;
  margin-right: 1em;
}

img[alt*="float-right"] {
  float: right;
  margin-left: 1em;
}

img[alt*="50"] {
  width: 50%;
}

img[alt*="40"] {
  width: 40%;
}

img[alt*="30"] {
  width: 30%;
}

img[alt*="medium"] {
  width: 8em;
}

img[alt*="small"] {
  width: 3em;
}

img[alt*="tiny"] {
  width: 1.5em;
}

/*************** Quotes ***************/
blockquote {
  width: 95%;
  margin: auto;
  padding: 0.1em 2em;

  color: var(--bright-pink);
  background-color: var(--transparent-pink);
  border-radius: var(--border-radius-S);
  opacity: 0.8;
}

blockquote:hover {
  opacity: 1;
}

blockquote li::marker {
  color: var(--pink) !important;
}

blockquote>*>code {
  background-color: var(--transparent-pink) !important;
}


/*************** Containers ***************/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.container-column {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}