:root {
    --transparent-pink: #FFC8DD38;
    --transparent-lilac: #CDB4DB4F;
    --light-pink: #FFC8DD;
    --bright-pink: #FF85B1;
    --pink: #FFAFCC;
    --lilac: #CDB4DB;
    --bright-lilac: #BE9FD1;
    --light-blue: #BDE0FE;
    --blue: #A2D2FF;
    --bright-blue: #86C6FD;
    --green: #C0DB80;
    --bright-green: #B0D260;
    --yellow: #FCF6BD;
    --bright-yellow: #F9EE8A;
    --brown: #735963;
    --black: #28262C;
    --white: #FEF8EC;
    --beige: #efe7dd;
}

/* GENERAL */
* { box-sizing: border-box; }

body {
    min-height: 100vh;
    height: fit-content;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    background-color: var(--beige);
    color: var(--brown);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    gap: 10em;
    background: radial-gradient(circle at top, var(--light-pink) , var(--light-blue));
    background-size: cover;
}

h1 {
    color: var(--bright-lilac);
    font-size: 3.5em;
    font-family: 'Shrikhand', sans-serif;
    -webkit-text-fill-color: var(--lilac);
    -webkit-text-stroke: 3px;
    margin-top: 0;
}

h2 { color: var(--blue); }

h3 { color: var(--green); }

h2, h3 {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 700;
}

p { font-size: 1.25em; }

blockquote {
    background-color: var(--transparent-pink);
    color: var(--bright-pink);
    padding: 0.6em 2em;
    margin: 0;
    width: fit-content;
    border-radius: 0.5em;
}

p > code {
    background-color: #BDE0FE6E;
    padding: 0.3em;
    border-radius: 0.5em;
    color: var(--brown);
}

/* CONTENT */
.content {
    height: fit-content;
    width: 65vw;
    margin: 1em;
    padding: 3em 4em;
    background-color: var(--white);
    border-radius: 2em;
}


/* CODE HIGHLIGHTING */
pre {
    font-family: 'Space Mono', sans-serif;
    padding: 1em;
    margin: 1em;
    width: fit-content;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1em !important;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: var(--black);
    color: var(--white);
}

.hljs-punctuation {
    color: var(--white) !important;
}

.hljs-string, .hljs-built_in {
    color: var(--pink) !important;
}

.hljs-number, .hljs-attr {
    color: var(--bright-blue) !important;
}

.hljs-title {
    color: var(--bright-yellow) !important;
}

.hljs-keyword, .hljs-type, .hljs-operator, .hljs-tag, .hljs-name {
    color: var(--bright-pink) !important;
}

.hljs-params, .hljs-variable {
    color: var(--bright-lilac) !important;
}

.hljs-comment {
    color: var(--light-pink) !important;
}

