/* LAYOUT */
* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

body {
  height: fit-content;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  color: var(--brown);
  background-color: var(--beige1);
  background: radial-gradient(circle at top, var(--light-pink), var(--light-blue));
  background-size: cover;

  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-M);
  word-wrap: break-word;
  position: relative;
}

/* PAGE */
.page {
  height: fit-content;
  width: 60vw;

  padding: 4em 6em;
  margin: 2.5em auto;

  background-color: var(--white);
  border-radius: var(--border-radius-M);
  box-shadow: var(--soft-shadow-L);

  position: relative;
  z-index: 2;
}

/* HEADERS */
h1 {
  font-size: var(--font-XXL);
  font-family: 'Shrikhand', sans-serif;

  color: var(--lilac);
  -webkit-text-fill-color: var(--light-lilac);
  -webkit-text-stroke: 3px;

  margin: 0;
}

h2 {
  color: var(--pink);
  font-size: var(--font-XL);
  margin: 0;
}

h3 {
  color: var(--lilac);
  font-size: var(--font-L);
  margin: 0;
}

h4 {
  color: var(--blue);
  font-size: var(--font-M);
  margin: 0;
}

h5 {
  color: var(--green);
  font-size: var(--font-S);
  margin: 0 1vw;
}

h5::before {
  color: var(--green);
  font-size: var(--font-S);
  content: ">";
  margin-right: 1vw;
}

/* Text */
p {
  text-align: justify;
  text-justify: inter-word;

  margin: 3vh 0;
}

h2+p,
h3+p,
h4+p,
h5+p {
  margin-top: 0;
}

.tooltip-text {
  display: none;
  width: max-content;
  max-width: 100%;

  position: absolute;
  top: 75%;
  right: 0%;
  z-index: 10000;

  color: var(--white);
  background-color: var(--beige3);
  font-size: var(--font-XS);
  text-align: center;

  border-radius: var(--border-radius-M);
  padding: 0.5em 0.7em;
}

.tooltip:hover+.tooltip-text {
  display: block;
}

/* Links */
.page a {
  color: var(--bright-blue);
  text-decoration: none;
  cursor: pointer;

  width: fit-content;

  display: inline-block;
  position: relative;
}

.page a:hover::after {
  content: "";
  height: 2.5px;
  min-height: 2.5px;
  max-height: 2.5px;
  width: 100%;

  background-color: var(--blue);
  border-radius: var(--border-radius-S);

  display: block;
  position: absolute;
  bottom: -2.5px;
}

/* Lists */
.page ul,
ol {
  position: relative;
  margin: 0 0 1.5em 2em;
  line-height: 1.2em;
}

.page li {
  padding: 0.3em 0;
  max-width: 90%;
  position: relative;
}

.page li::marker {
  color: var(--beige2);
}

/* Images */
img {
  display: block;
  max-width: 100%;
  border-radius: .5em;
}

img[alt*="center"] {
  margin: 0 auto;
}

img[alt*="inline"] {
  display: inline;
}

img[alt*="float"] {
  float: left;
}

img[alt*="50"] {
  width: 50%;
}

img[alt*="40"] {
  width: 40%;
}

img[alt*="medium"] {
  width: 8em;
}

img[alt*="small"] {
  width: 3em;
}

img[alt*="tiny"] {
  width: 1.5em;
}

/* Pekoe logo */
#pekoe-logo {
  position: absolute;
  left: 4vw;
  z-index: 2;
  width: 10vw;
}

/* End-of-page beacon */
#peek-oe {
  position: absolute;
  bottom: 0;
  right: 14.8vw;
  z-index: 0;

  transform: scale(-1, 1);
  cursor: pointer;
}

#peek-oe img {
  transform: scale(-1, 1);
}

/* TOC */
/* h5[id='#table-of-contents'] {
  font-size: 1em;
  color: var(--bright-pink);
  margin-top: 2em;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: end;
}

#TOC, #TOC ul { list-style-type: none; }

#TOC::before { display: none; } */