.nav-container {
    width: 0;
    transition: width .4s ease-in-out;
}

.nav-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 2.5em;
    height: 2.5em;
    margin: 1em;

    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
}

.nav-btn:not(.open) { box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.nav-btn:hover, .nav-btn.open { background: var(--beige); }

.nav-btn.open { margin: 1em; }

#theme-btn {
    bottom: 0;
    right: 0;
}

#to-top-btn {
    bottom: 8vh;
    right: -25vw;
    transition: right .4s ease-in-out;
}

#nav-bar {
    position: fixed;
    left: -100vw;
    top: 0;
    transition: left .4s ease-in-out;

    width: 13vw;
    min-width: max-content;
    height: 100vh;

    background-color: var(--beige);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    overflow: scroll;
    scrollbar-color: var(--dark-beige) var(--beige);
    padding-bottom: 2vh;
}

#nav-bar > * {
    min-width: 100px;
    list-style-type: none;
    list-style-position: inside;
}

#nav-bar .title {
    display: block;
    padding: 1em 0 1em 5vw;
    font-size: 1.4em;
    color: var(--brown);
    
}

#nav-bar ul {
    padding: 0;
    margin: 0 0 1em;
}

#nav-bar li {
    width: 100%;
    padding: 0.5em 1em;
}

#nav-bar a {
    text-decoration: none;
    padding: 0.5em 0;
    cursor: pointer;
    color: var(--brown);
}

.folder li:not(.folded, .folder-title) { background-color: #73596312; }

#nav-bar li.active { background-color: #73596312; }

#nav-bar li.active a {
    color: var(--bright-pink);
    font-weight: 700;
}

#nav-bar a:hover { color: var(--bright-pink); }

#nav-bar .active-folder { background-color: var(--dark-beige); }

#nav-bar .folder:hover .material-symbols-outlined {
    transform: rotate(35deg);
}

#nav-bar .folder-title:hover:not(.active-folder) { background-color: #73596312; }

#nav-bar .folder-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

.nav-container .folded {
    display: none;
    overflow: hidden;
}
